Editing dataframe of counties so that date is split into month and year for the dashboard.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('county_df.csv', index_col = 0)

In [3]:
df.head()

         Date   County  Battery Electric Vehicles (BEVs)
0  2017-01-31    Adams                                 1
1  2017-01-31   Asotin                                 4
2  2017-01-31   Benton                               129
3  2017-01-31   Chelan                                54
4  2017-01-31  Clallam                                73

In [4]:
df.dtypes

Date                                object
County                              object
Battery Electric Vehicles (BEVs)     int64
dtype: object

In [5]:
#Turn date into datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
#Extracting month and year for streamlit app
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

In [7]:
df.head()

        Date   County  Battery Electric Vehicles (BEVs)  Month  Year
0 2017-01-31    Adams                                 1      1  2017
1 2017-01-31   Asotin                                 4      1  2017
2 2017-01-31   Benton                               129      1  2017
3 2017-01-31   Chelan                                54      1  2017
4 2017-01-31  Clallam                                73      1  2017

In [8]:
df = df.drop(columns = 'Date')

In [9]:
df.head()

    County  Battery Electric Vehicles (BEVs)  Month  Year
0    Adams                                 1      1  2017
1   Asotin                                 4      1  2017
2   Benton                               129      1  2017
3   Chelan                                54      1  2017
4  Clallam                                73      1  2017

In [10]:
df.to_csv('county_df_updated.csv')

In [11]:
df = pd.read_csv('arima_preds.csv', index_col = 0)
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df = df.drop(columns = 'Date')
df.to_csv('arima_preds_updated.csv')